@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

/* responsive breakpoints*/
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

/* colors primary*/
$color-text-primary: #323232;
$color-title-primary: #ffffff;
$color-background-primary: #fafafa;
$color-cta-primary: #AAA0A0;

/* colors secondary*/
$color-background-secondary: #709FAF;
$color-cta-hover: #F3E8C0;
$color-secondary-brand: #A0C1B8;

/*font family */
$roboto:'Roboto', sans-serif;
$yaseva : 'Yeseva One', cursive;