@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/typography";

.main {

    &__card-link {
         text-decoration: none;
    }

    &__card-container {

        @include tablet {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        }
    }

    &__chef-card {
        margin: 1rem;

        @include tablet {
            margin: 2.25rem;
        }
    }

    &__info-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 .5rem;

        @include tablet {
            margin: 0 1.5rem;
        }
    }

    &__name-cuisine {
        text-align: left;
    }

    &__chef-img {
        height: 19rem;
        width: calc(100vw - 1rem - 1rem);
        object-fit: cover;
        object-position: top 25% left 0;
        margin-top: .5rem;
        padding: 0;
        border-radius: 15px;

        @include tablet {
            height: 19rem;
            width: calc((100vw - 2.25rem - 2.25rem - 2rem)/2);
        }
    }

    &__chef-name {
        margin: .5rem 0 .25rem 0;
        color: $color-text-primary;
    }

    &__cuisines {
        margin: 0;
        font-size: 1.25rem;
        color: $color-background-primary;
    }

    &__chef-rating {
        font-size: 2rem;
        margin: 0;
        color: $color-secondary-brand;
    }

    &__chef-bio {
        text-align: left;
        margin: .75rem .5rem 1.75rem .5rem;
        color: $color-cta-primary;   
    }
}