@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;


.search {
  text-align: center;
  background-color: $color-background-primary;

  &__heading {
      margin: auto;
      padding: 5rem 1rem 0 1rem;
      color: $color-title-primary;
  }
  
  &__select {
      font-size: 1.5rem;
      padding: .5rem calc((100vw - 8.5625rem - 1rem - 1rem)/2);
      margin: 2rem 0;
      background-color: $color-background-secondary;
      color: $color-text-standard;
      border: solid 2px $color-text-standard;
      border-radius: 10px;
      cursor: pointer;

      @include tablet {
        padding: .5rem 4rem;
      }
  }

  &__featured-title {
      margin-top: 10rem;
      color: $color-title-primary;
  }
}