.main {
  text-align: center;

  &__heading {
      width: 40rem;
      margin: auto;
      padding: 1rem 0;
      font-size: 4rem;
  }
  
  &__select {
      font-size: 1.5rem;
      padding: .5rem 5rem;
      background-color: rgba(0, 128, 128, 0.495);
      border-color: rgb(223, 146, 3);
  }

  &__featured-title {
      margin-top: 10rem;
      font-size: 3rem;
  }
}