@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;

.modal{
  background-color: rgba(35, 41, 64, 0.75);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  @include tablet {
      padding-top: 11rem;
      padding-left: 3rem;
      padding-right: 3rem;
  }
  &__text {
      display: flex;
      flex-direction: column;
      text-align: center;
      height: 15rem;
      width: 100%;
      padding: 1rem;
      margin: 0 .5rem;
      background-color: $color-background-neutral;
      @include tablet {
          height:auto;
          width: auto;
      }
      @include desktop {
          max-width: 40rem;
          margin: 0 auto;
      }
  }

  &__container {
      margin-bottom: auto;
      @include tablet {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
          padding-left: 2.5rem; 
          padding-right: 4rem;
      }
  }
  &__heading {
      font-size: 1.6rem;
      line-height: 2.25rem;
      font-weight: 600;
      @include tablet {
      font-size: 2rem;
      line-height: 2.5rem;
      margin: 0;
      }
  }

  &__confirmation {
    padding-bottom: 1rem;
  }


  &__confirm {
    padding: .5rem 2rem;
    text-align: center;
   text-decoration: none;
   background-color: $color-background-secondary;
   color: $color-background-neutral; 
   text-transform: uppercase;
   border-radius: 10px;
   margin-bottom: 1rem;
   @include tablet {
    padding: .5rem 4rem;
   }
   
  }

  &__cancel {
    display: none;
    @include tablet {
      text-decoration: none;
      color:$color-background-secondary;

    }
  }


 
}