@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables"as *;

.booking {
  padding: 1rem;

  @include tablet {
    padding: 2.25rem;
  }

  @include desktop {
    padding: 3rem;
    background-color: $color-background-primary;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
  }

  &__wrapper {
    background-color: $color-title-primary;

    @include desktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 71rem;
      height: 100%;
      border-radius: 15px;
      margin: 1rem auto 0 auto;
      padding: 0;
    }
  }

  &__container {

    @include desktop {
      width: 30rem;
      margin-left: 3rem;
    }
  }

  &__title {
    font-size: 2rem;
    color: $color-text-primary;
    text-align: center;
    padding-top: 2rem;

    @include desktop {
      padding-top: .5rem;
    }
  }
  
  &__group{
    position: relative;
    z-index: 0;
  }
  
  &__input {
    padding: 10px;
    background: $color-title-primary;
    border-radius: 10px;
    outline: none;
    color: $color-text-primary;
    border: 2px solid $color-background-secondary;
    resize: none;
    width: 100%;
    margin-bottom: 1rem;

    &--error {
      border: 2px solid red;
  }
  }

  &__label {
    position: absolute;
    top: 10px;
    left: 8px;
    font-size: 14px;
    padding: 0px 5px;
    color:$color-text-primary;
    transition: 0.3s;
    pointer-events: none;
  }
  &__input:focus + &__label, &__input:not(:placeholder-shown) + .placeholder{
    top:-10px;
    background-color: $color-title-primary;
    color:$color-background-secondary;
  }

  &__img {
    width: 100%;
    height: 50vw;
    object-fit: cover;
    object-position: 50% 15%;

    @include desktop {
      height: 43rem;
      width: 35rem;
      object-fit: cover;
      object-position: top;
      border-radius: 0 15px 15px 0;
    }
  }

  &__btn {
    cursor: pointer;
    border-radius: 5px;
    background-color: $color-background-secondary;
    border: none;
    color: $color-title-primary;
    padding: .25rem 1rem;
    margin: 0 0 1rem 0;
    width: 100%;
    height: 2.4688rem;
    text-transform: uppercase;

    @include tablet {
      width: 30%;
      margin: 0 calc((100vw - 30% - 2.25rem - 2.25rem) / 2);
      margin-bottom: 2rem;
    }

    @include desktop {
      width: 8rem;
      margin: 0 11rem;
    }

    &:hover{
      background-color: $color-cta-primary;
  }

    }
&__error {
    color: red;
    font-size: 0.6875rem;
    line-height: 1rem;
    font-weight: 400;
    flex-basis: 100%;
    justify-self: flex-end;
    text-align: end;
    font-style: italic;
    margin: 0;
  }
}
// code to remove date default placeholder 
input[type=date]::-webkit-datetime-edit-text {
  -webkit-appearance: none;
  display: none;
  } input[type=date]::-webkit-datetime-edit-month-field{
  -webkit-appearance: none;
  display: none;
  } input[type=date]::-webkit-datetime-edit-day-field {
  -webkit-appearance: none;
  display: none;
  } input[type=date]::-webkit-datetime-edit-year-field {
  -webkit-appearance: none;
  display: none;
  }

